# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/
.env/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# VS Code settings (optionnel)
.vscode/

# OS files
.DS_Store
Thumbs.db
